<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Selenium.webdriver.directory" value="WebDriver"/>
    <add key="Selenium.hub.Address" value="webciGse.rd.talentsoft.com"/>
    <add key="Selenium.hub.Port" value="4444"/>
    <add key="Selenium.Grid.Enabled" value="True"/>
    <add key="Selenium.Browser.Size" value="1024*788"/>
    <add key="Selenium.ChromeDriver.Location" value="C:\Talentsoft.SeleniumNode\wrapper\lib"/>
    <add key="Smtp.Server.Address" value="mail.profils.net"/>
    <add key="Smtp.Server.Port" value="25"/>
    <add key="Smtp.Server.Login" value="aben-miled@talentsoft.com"/>
    <add key="Smtp.Server.Password" value="motdepasse"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>